$dodger-blue: #4372fd;
$athens-grey: #f6f7f9;
$regent-grey: #808b9c;
$azure-shadow: rgba(50, 84, 165, 0.31);
$street-code-black: #333c46;

$in-back: cubic-bezier(0.6, -0.28, 0.74, 0.05);
$out-back: cubic-bezier(0.18, 0.89, 0.32, 1.28);
