{{!< default}}
<div id="react-root"></div>
<script>
  window.API_URL = '{{ API_URL }}';
</script>
<script src="/generated/js/vendor.bundle.js"></script>
<script src="/generated/js/bundle.js"></script>
