{
  "extends": "airbnb-base",
  "env": {
    "node": true
  },
  "rules": {
    "strict": "off",
    "semi": ["error", "never"],
    "comma-dangle": ["error", {
      "arrays": "always-multiline",
      "objects": "always-multiline",
      "imports": "always-multiline",
      "exports": "always-multiline",
      "functions": "never"
    }],
    "new-cap": ["error", {
      "newIsCap": false,
      "capIsNew": false
    }],
    "no-use-before-define": ["error", "nofunc"]
  },
}
