{
  "extends": ["airbnb-base", "plugin:react/recommended"],
  "env": {
    "node": true,
    "browser": true,
  },
  "parser": "babel-eslint",
  "plugins": ["react"],
  "globals": {
    "React": true,
    "PropTypes": true,
  },
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true,
      "modules": true
    }
  },
  "rules": {
    "class-methods-use-this": "off",
    "comma-dangle": ["error", {
      "arrays": "always-multiline",
      "objects": "always-multiline",
      "imports": "always-multiline",
      "exports": "always-multiline",
      "functions": "never"
    }],
    "new-cap": ["error", {
      "newIsCap": false,
      "capIsNew": false
    }],
    "no-use-before-define": ["error", "nofunc"],
    "strict": "off",
    "semi": ["error", "never"]
  },
}
